REST/TODOListRestService/UnitTests/Connected Services/ToDoRestAPIService/ToDoListRestAPIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ToDoListRestAPIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/ToDoListRestAPIService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/ToDoListRestAPIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/ToDoListRestAPIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTodoListService.DataModel" />
      <xsd:import schemaLocation="http://localhost:8000/ToDoListRestAPIService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IToDoListRestAPIService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IToDoListRestAPIService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoListRestAPIService_GetLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLists" />
  </wsdl:message>
  <wsdl:message name="IToDoListRestAPIService_GetLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListsResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoListRestAPIService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IToDoListRestAPIService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoListRestAPIService_GetList_RESTAPIExceptionDataFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfTodoListService.DataModel" name="detail" element="q1:RESTAPIExceptionData" />
  </wsdl:message>
  <wsdl:message name="IToDoListRestAPIService_AddNewList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewList" />
  </wsdl:message>
  <wsdl:message name="IToDoListRestAPIService_AddNewList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewListResponse" />
  </wsdl:message>
  <wsdl:message name="IToDoListRestAPIService_AddNewList_RESTAPIExceptionDataFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfTodoListService.DataModel" name="detail" element="q2:RESTAPIExceptionData" />
  </wsdl:message>
  <wsdl:portType name="IToDoListRestAPIService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoListRestAPIService/GetData" message="tns:IToDoListRestAPIService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoListRestAPIService/GetDataResponse" message="tns:IToDoListRestAPIService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoListRestAPIService/GetLists" message="tns:IToDoListRestAPIService_GetLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoListRestAPIService/GetListsResponse" message="tns:IToDoListRestAPIService_GetLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoListRestAPIService/GetList" message="tns:IToDoListRestAPIService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoListRestAPIService/GetListResponse" message="tns:IToDoListRestAPIService_GetList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IToDoListRestAPIService/GetListRESTAPIExceptionDataFault" name="RESTAPIExceptionDataFault" message="tns:IToDoListRestAPIService_GetList_RESTAPIExceptionDataFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewList">
      <wsdl:input wsaw:Action="http://tempuri.org/IToDoListRestAPIService/AddNewList" message="tns:IToDoListRestAPIService_AddNewList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToDoListRestAPIService/AddNewListResponse" message="tns:IToDoListRestAPIService_AddNewList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IToDoListRestAPIService/AddNewListRESTAPIExceptionDataFault" name="RESTAPIExceptionDataFault" message="tns:IToDoListRestAPIService_AddNewList_RESTAPIExceptionDataFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ToDoListRestAPIService" />
</wsdl:definitions>